AllSoapProjects-workspace.xml
XMLSoccerTest-steps.txt
soapui-sample-projects-master.zip
SampleSoap_LoginLogoutProject.xml
STRIKEIRON-soapui-project.xml
CDYNE-soapui-project.xml
ws_cdyne.wsdl
/XMLSoccerTest/output
reports
SoapUI-Tutorials
backup